<div class='container-title '>
  <h3>Select a mentor to plan you meeting</h3>
  <h1>Our suggestion</h1>
</div>

  <div class=" container">
    <div class="row">
      <%= link_to after_sign_up_path(@mentor) do  %>
        <div class="col-8 offset-2 card card-mentor-big">
          <div class="row">
            <div class="mentor-avatar-big col-3 align-self-center">
              <% if mentor.photo.attached? %>
                <%= cl_image_tag mentor.photo.key, class: 'avatar-medium', crop: :fill %>
              <% else %>
                <img class="avatar-medium" src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" alt="">
              <% end %>
            </div>
            <div class="mentor-info col-7 text-left p-3">
                <h2><%= @mentor.first_name %> <%= @mentor.last_name %></h2>
                <h3> <%= @mentor.user_industry.industry.name %> </h3>

                <p>CTO</p>
                <p><%= @mentor.about %></p>
            </div>
            <div class="stats-mentor p-3 col-2">
              <h3 class="pb-2">24 <i class="fas fa-eye"></i></h3>
              <h3>18 <i class="far fa-thumbs-up"></i></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class='container-title '>
  <h1>Other suggestions</h1>
</div>
<% @mentors.each do |mentor| %>
  <%= link_to after_sign_up_path(mentor) do  %>
    <div class="container-sm-mentor">
      <div class="row mb-3">
        <div class="col-6 offset-3 card">
          <div class="row">
            <div class="mentor-avatar-big col-3 align-self-center">
              <% if mentor.photo.attached? %>
                <%= cl_image_tag mentor.photo.key, class: 'avatar-medium', crop: :fill %>
              <% else %>
                <img class="avatar-medium" src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" alt="">
              <% end %>
            </div>
            <div class="mentor-info p-3 col-7">
              <h2><%= mentor.first_name %> <%= mentor.last_name %></h2>
              <h3> <%= mentor.user_industry.industry.name %></h3>
              <p> <%= mentor.user_industry&.work_experience %>
              <p><%= mentor.about.truncate(20) %></p>
            </div>
            <div class="stats-mentor p-3 col-2"> d
              <h4>24 <i class="fas fa-eye"></i></h4>
              <h4>18 <i class="far fa-thumbs-up"></i></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
