<div class="container-form">

  <div class="row">
    <div class="col-8 offset-2 card p-3">

      <h2>Complete Profile</h2>
      <p>Tell the mentors more about you.</p>

      <%= simple_form_for current_user, url: after_sign_up_path(current_user) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :age %>
          <%= f.input :phone_number %>
          <%= f.input :city %>
          <%= f.input :about %>
          <%= f.input :photo, as: :file %>
        <%= f.submit :Accept, class: "btn btn-flat" %>

      <% end %>

    </div>
  </div>
</div>
