<div class="container-form">

  <div class="row">
    <div class="col-8 offset-2 card p-3">
      <div class="card-advice-preference">
        <%= link_to "back", root_path, class: "back-button" %>

        <h2>Advice Preference</h2>
        <p>To connect you to the right person please fill the advice preference form.</p>

        <%= simple_form_for [ @user, @advice_preference ], url: after_sign_up_advice_preferences_path(@user) do |f| %>
          <div class="form-inputs">
            <%= f.association :industry %>
            <%= f.input :subject, as: :check_boxes, collection: AdvicePreference::SUBJECTS, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Submit", class: "btn btn-flat" %>
          </div>

        <% end %>
      </div>
   </div>
  </div>

</div>
