<div class="container-form">

  <div class="row">
    <div class="col-6 offset-3 card p-3">
      <br>
      <h2>Log in</h2>
      <br>
      <p>Please log in to continue.</p>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs col-8 offset-2 p-4">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, label: false, placeholder: 'Email' %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", label: false, placeholder: 'Password' } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class:"btn btn-flat" %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>

