<div class="container-form">
  <div class="row">
    <div class="col-8 offset-2 card p-3">
      <div class="user_industries_form">



        <div class="back-button">
          <%= link_to my_dashboard_path do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>
        <h2>Experience</h2>
        <br>
        <p>In what industry are you working now?</p>

        <%= simple_form_for [ @user, @user_industry ], url: after_sign_up_user_industries_path(@user) do |f| %>

          <div class="form-inputs col-10 offset-1 p-4">
            <%= f.association :industry, label: false, prompt: 'Industry' %>

            <br><p>Tell us about your previous work experiences.</p><br>

            <%= f.input :work_experience, as: :text, label: false, placeholder: 'Your work experience:' %>
          </div>
          <br>
          <div class="form-actions">
            <%= f.button :submit, "Next", class: "btn btn-flat" %>
          </div>
          <br>
        <% end %>
      </div>
   </div>
  </div>
</div>
