<div class="container-form">

  <div class="row">
    <div class="col-8 offset-2 card p-3">
      <div class="card-advice-preference">
        <div class="back-button">
          <%= link_to my_dashboard_path do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>

        <h2>Write review for your mentor</h2>
        <br>
          <%= simple_form_for([@meeting, @review]) do |f|  %>
              <%= f.input :content, label: false, placeholder: 'Write a review...'%>
              <div>
                <p>Let us know if you where happy with the meeting.</p>
                <%= f.input :rating,
                label: '<i class="far fa-thumbs-up fa-2x"> </i>'.html_safe,
                required: false,
                input_html: { class: "d-none grey thumbs-up" } %>
              </div>

              <div class="form-actions p-2">
                <%= f.submit :Submit, class: "btn btn-flat" %>
              </div>
          <% end %>
        </div>
    </div>
  </div>
</div>







