<div class="container-form">

  <div class="row">
    <div class="col-8 offset-2 card p-3">
      <div class="card-advice-preference">
        <div class="back-button">
          <%= link_to my_dashboard_path do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>

        <h2>Create a Review for your Mentor</h2>
        <br>
            <%= simple_form_for([@meeting, @review]) do |f|  %>
                <%= f.input :content, placeholder: 'Add some review...'%>
                <div>
                  <%= f.input :rating  %>
                  <i class="far fa-thumbs-up"> </i>
                </div>
                <div class="form-actions">
                  <%= f.submit :Create, class: "btn btn-flat" %>
                </div>
            <% end %>
          </div>
      </div>
   </div>
  </div>
</div>






